<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<connectionStrings>
  <add name="con" connectionString="Data Source=DESKTOP-6GH01HR\SQLEXPRESS; Initial Catalog=elibraryDB;Integrated Security=true" />
  <add name="elibraryDBConnectionString2" connectionString="Data Source=DESKTOP-6GH01HR\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="elibraryDBConnectionString3" connectionString="Data Source=DESKTOP-6GH01HR\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

	
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
    type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider,&#xD;&#xA;				Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, &#xD;&#xA;				PublicKeyToken=31bf3856ad364e35"

                                     warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
    type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider,&#xD;&#xA;				Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral,&#xD;&#xA;				PublicKeyToken=31bf3856ad364e35"

                                     warningLevel="4"
             compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="WebForm.aspx" />
                <add value="Site1.Master.Designer.cs" />
                <add value="Site1.Master.cs" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse showFlags="Date, Time, Size, Extension" />
    </system.webServer>
</configuration>